<div class="row">
    <h2>Education</h2>
    <div class="col-lg-11">
        <ul>
            <li>    <h3>2022</h3>   <p>I decided to leave Engineering because the career was not progressing for where I wanted to work.
                I began to study in online and youtube courses about Html Css and the basics of programming until I was accepted in the Argentina Program.Where I learned from Html-Css-Js-Gobstones-Ruby-MySQL-Java
            and frameworks like Angular and Bootstrap.</p></li>
            <li>    <h3>2021</h3>   <p>2021 Computer Engineering course at the IUA. Within this career I got into good programming practices and started programming in C++.</p></li>
            <li>    <h3>2020</h3>   <p>This year I graduated from high school and decided to enter a career in programming.</p></li>
        </ul>
    </div>
</div>