<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/DBF_9346.jpg" class="img-fluid" id="foto_perfil" alt="Perfil photo">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}} </p>
        <p>"Full Stack Develpolver" Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <span>
            <h1>About Me</h1>
            <p>I'm Mateo Casas, a developer interested in creating web sites and applications. I'm Argentinan
                and I have 19 years old.I have no experience but I would like to learn and expand my knowledge.
            </p>
    </span>
    </div>
</div>
