<div class="row">
    <h2>Proyects</h2>
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4" id="proyect_calculator">
            <h4>Calculator</h4>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur error laudantium minus cum, alias mollitia necessitatibus obcaecati. Nostrum quae nihil magnam! Laboriosam quasi illum accusamus porro soluta distinctio sit beatae?</p>
        </div>
        <div id="calculator_photo" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img src="../../../assets/proyect_calculator.png" alt="calculator photo" class="img-fluid">
        </div>
        <!--Buttom (href)-->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4" id="proyect_x">
            <h4>proyect x</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur error laudantium minus cum, alias mollitia necessitatibus obcaecati. Nostrum quae nihil magnam! Laboriosam quasi illum accusamus porro soluta distinctio sit beatae?</p>
        </div>
        <div id="proyectx_photo" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img src="" alt="projecto x" class="img-fluid">
        </div>
        <!--Buttom (href)-->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4" id="proyect_n">
            <h4>proyect n</h4>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore necessitatibus error officia iste consectetur! Voluptates sapiente quod nemo aliquam quos nobis maxime adipisci, tempore cum quisquam, necessitatibus ipsum recusandae laboriosam?</p>
        </div>
        <div id="proyectn_photo" class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <img src="" alt="project n" class="img-fluid">
        </div>
        <!--Buttom (href)-->
    </div>
</div>