.row{
    padding: 10px;
    background-color: #899878;
    border-radius: 20px;

}
.container{

}
h2{
    color:#E4E6C3;
    font-family: 'Times New Roman', Times, serif;
}
h4{
    color: #F7F7F2;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
p{
    color: #F7F7F2;
}
.contenedor{
    width: auto;
}
#proyect_calculator{

}
#calculator_photo{

}
#proyect_x{

}
#proyectx_photo{

}
#proyect_n{

}
#proyectn_photo{

}