<div class="row">
  <h2>Skills</h2>
  <h4>Programming languages</h4>
   <!--Html-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
    [showUnits]="false"
    [title]="'HTML'"
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#899878'"
    [innerStrokeColor]="'#a4c3b2'"
    [animation]="true"
    [animationDuration]="300"
      ></circle-progress>
   </div>
   <!--CSS-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
   [showUnits]="false"
   [title]="'CSS'"
   [percent]="60"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#899878'"
   [innerStrokeColor]="'#a4c3b2'"
   [animation]="true"
   [animationDuration]="300"
      ></circle-progress></div>
   <!--C++-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
   [showUnits]="false"
   [title]="'C++'"
   [percent]="60"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#899878'"
   [innerStrokeColor]="'#a4c3b2'"
   [animation]="true"
   [animationDuration]="300"
      ></circle-progress></div>
   <!--JS-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
   [showUnits]="false"
   [title]="'JS'"
   [percent]="30"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#899878'"
   [innerStrokeColor]="'#a4c3b2'"
   [animation]="true"
   [animationDuration]="300"
      ></circle-progress></div>
   <!--MySQL-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
   [showUnits]="false"
   [title]="'MySQL'"
   [percent]="35"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#899878'"
   [innerStrokeColor]="'#a4c3b2'"
   [animation]="true"
   [animationDuration]="300"
      ></circle-progress></div>
      <!--Phyton-->
   <div class="text-center col-sm-4 col-md-5 col-lg-4 col-xl-4">
      <circle-progress
   [showUnits]="false"
   [title]="'Phyton'"
   [percent]="1"
   [radius]="100"
   [outerStrokeWidth]="8"
   [innerStrokeWidth]="5"
   [outerStrokeColor]="'#899878'"
   [innerStrokeColor]="'#a4c3b2'"
   [animation]="true"
   [animationDuration]="300"
      ></circle-progress></div>
      <!--Apenas termine el portafolio quiero estudiarlo ademas me molesta ver ese lado vacio-->
</div>